$main-color: #84E55D;
$second-color: #aff0ff;
$three-color: #82efa1;
$four-color: #7dd2ff;
$five-color: #e3c3ff;
$alt-color: #f264fffe;
$black-color: #161619;
$black-two-color: #201927;
$black-alt-color: #2c1970f7;