.sidepanel {
    display: flex;
    height: 340px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
    top: 160px;
    left: 50px;
    &__divider {
        width: 2px;
        height: 70px;
        background-color: $second-color;
    }
    &__link {
        img {
            max-width: 33px;
            max-height: 33px;
        }
        @include animation_btn;
    }
}